/*
Styling notes for Denis: 
1. Navbar Menu options, need to make them visible
2. Reach out options need to make them visible

*/

/* Styling for Navbar Begins here */

/*Styling for navbar as a whole start here*/

.navbar-overall-wrapper {
  width: 100%;
  display: flex;
  background-color: white;
  max-height: 70px;
  flex-wrap: wrap;
  border: gray solid 0.2px;
  position: fixed;
  z-index: 5;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1%;
  max-height: 70px;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

.navbar-a-tag {
  color: black;
}

/*Styling for navbar as a whole end here*/

.navbar-logo-text {
  color: black;
}

.navbar-options-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 3%;
  width: 50%;
  padding: 5px;
}

.navbar-reach-out-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2%;
}

.navbar-reach-out-options {
  display: flex;
  gap: 2%;
  width: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navbar-reach-out-options a {
  width: 30px;
  height: 30px;
}

.navbar-reach-out-options a img {
  width: 100%;
  height: 100%;
}

.navbar-welcome-message {
  font-weight: normal;
  font-size: 1.5rem;
}

/* Styling for Navbar ends here */

/*Styling for the Hero section Start here*/

.hero-section {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: fixed;
  z-index: 5px;
  margin-top: 70px;
}

.hero-section-left-side-wrapper {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #f5f5f5;
}

.hero-section-text-ctas-wrapper {
  width: 80%;
  min-width: 80%;
  height: 80%;
  padding: 5%;
  gap: 5%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-text-header-wrapper {
  width: 100%;
}

.hero-section-text-header-wrapper h1 {
  font-size: 75px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.hero-section-text-subheader h2 {
  font-size: 22px;
  font-weight: lighter;
  color: #666666;
  line-height: 1cm;
}

.hero-section-ctas-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80%;
  gap: 10px;
  align-self: flex-start;
}

.hero-section-ctas-download-my-cv-wrapper {
  transition: ease-in-out 1s;
  width: fit-content;
  display: flex;
}

.hero-section-ctas-download-my-cv-wrapper a {
  display: flex;
  align-items: center;
  color: black;
}

.hero-section-ctas-download-my-cv-wrapper img {
  width: 30px;
  height: 30px;
}

.hero-section-ctas-find-me-on-wrapper {
  display: flex;
  gap: 10px;
}

.hero-section-ctas-find-me-on-title-checkmark {
  display: flex;
  align-items: center;
}

.hero-section-ctas-find-me-on-title-checkmark img {
  width: 30px;
  height: 30px;
}

.hero-section-ctas-find-me-on-options-wrapper {
  display: flex;
  width: 70%;
  gap: 5%;
}

.hero-section-ctas-find-me-on-options-wrapper a {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-section-ctas-find-me-on-options-wrapper img {
  width: 30px;
  height: 30px;
}

.hero-section-ctas-email-me-title-checkmark-wrapper {
  display: flex;
  align-items: center;
}

.hero-section-ctas-email-me-title-checkmark-wrapper img {
  width: 30px;
  height: 30px;
}

.hero-section-ctas-email-me-title-checkmark-wrapper a {
  color: black;
}

.hero-section-img-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-section-img {
  height: 950px;
  width: 100%;
  object-fit: fill;
}

/*Styling for the Hero Section ends here*/

/*Styling for the aboutMe-projects-workexperience-skills-finalCtaSection-wrapper Starts here*/

.aboutMe-projects-workexperience-skills-finalCtaSection-wrapper {
  width: 100%;
  padding-bottom: 2%;
  height: fit-content;
  min-height: 900px;
  background-color: black;
  border-top-left-radius: 40px;
  z-index: 6;
  margin-top: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe-projects-workexperience-skills-finalCtaSection-buttons-wrapper {
  display: flex;
  width: 100%;
  max-width: 1181px;
  gap: 1%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1%;
}

.aboutMe-projects-workexperience-skills-finalCtaSection-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: 500px;
  text-align: center;
  width: 15%;
  transition: ease-in-out 0.5s;
  border-radius: 20px;
}

.aboutMe-projects-workexperience-skills-finalCtaSection-active-buttons {
  background-color: white;
  color: black;
  transition: ease-in-out 0.5s;
}

/*Styling for the aboutMe-projects-workexperience-skills-finalCtaSection-wrapper Starts ends*/

/*Styling for the About section start here*/

.about-me-section-wrapper {
  max-width: 1181px;
  width: 100%;
  color: #f5f5f5;
}

.about-me-section-title-description-wrapper {
  width: 100%;
  display: flex;
  gap: 5%;
  padding: 2%;
  margin-top: 3%;
}

.about-me-section-title-wrapper {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section-title-wrapper h2 {
  font-size: 24px;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.about-me-section-description-wrapper {
  font-weight: lighter;
  line-height: 1cm;
  font-size: 20px;
  width: 60%;
}

.about-me-section-content-video-wrapper {
  border: purple solid;
  width: 100%;
  height: fit-content;
}

.about-me-section-content-video-wrapper video {
  width: 100%;
  height: auto;
}

/*Styling for the About me section end here*/
